.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  padding: 0 1rem;
  margin-bottom: 4rem;
  box-sizing: border-box;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}

.headerWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;

  width: 100%;
  max-width: 1400px;
}

.header {
  display: flex;
  padding: 0.5rem 1.25rem;
  max-width: max-content;

  border-radius: var(--max, 9999px);
  color: var(--white);
  background-color: var(--black-400);
}

.h2 {
  font-size: 1rem;
  font-weight: 400;

  margin: 0;
  padding: 0;
}

.feedDesc {
  text-align: center;
  margin-bottom: 2rem;
}

.masonryGrid {
  column-count: 1;
  column-gap: 1rem;

  width: 100%;
  max-width: 1400px;
}

.imageWrapper {
  break-inside: avoid;

  margin-bottom: 1rem;
  border-radius: 16px;

  overflow: hidden;
  position: relative;
  cursor: pointer;

  background-color: var(--background-color);
}

.image {
  display: block;
  width: 100%;

  object-fit: cover;
  transition: transform 0.4s ease;
}

.imageWrapper:hover .image {
  transform: scale(1.03);
}

/* Title and Year Overlay */
.overlay {
  display: flex;
  align-items: flex-end;

  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  padding: 1.5rem;

  box-sizing: border-box;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(0, 0, 0, 0) 60%
  );

  opacity: 0;
  z-index: 2;
  transition: opacity 0.4s ease;
}

.imageWrapper:hover .overlay {
  opacity: 1;
}

.overlayContent {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;

  color: var(--white);

  transform: translateY(15px);
  transition: transform 0.4s cubic-bezier(0.2, 1, 0.3, 1);
}

.imageWrapper:hover .overlayContent {
  transform: translateY(0);
}

.imageTitle {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}

.imageYear {
  font-size: 0.875rem;
  opacity: 0.75;
}

/* Responsive columns */
@media (min-width: 425px) {
  .container {
    margin-top: 3rem;
    padding: 0 2rem;
  }
}

@media (min-width: 768px) {
  .container {
    padding: 0 4rem;
  }

  .masonryGrid {
    column-count: 2;
  }

  .imageWrapper {
    border-radius: 12px;
  }
}

@media (min-width: 1180px) {
  .container {
    margin-top: 4rem;
  }

  .masonryGrid {
    column-count: 3;
  }

  .imageWrapper {
    border-radius: 16px;
  }
}
