.container {
    position: relative;
    display: flex;
    align-items: flex-end;

    width: 100%;
    height: 100%;

    border-radius: 24px;
    padding: 1rem;
    box-sizing: border-box;

    overflow: hidden;
    text-decoration: none;
    border: 1px solid var(--grey-300);
}

.thumbnail {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    z-index: 1;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    transition: transform 1.5s cubic-bezier(0.2, 1, 0.3, 1);
}

.container:hover .thumbnail {
    transform: scale(1.15);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    z-index: 2;

    background: linear-gradient(to bottom, transparent 80%, rgba(208, 214, 218, 0.5));
    opacity: 0;
    transition: opacity 0.4s ease;
}

.container:hover .overlay {
    opacity: 1;
}

.infoBar {
    position: relative;
    z-index: 3;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-image: var(--bg-glass);
    border: 2px solid var(--border-glass);

    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 100px;

    padding: 0.5rem 0.5rem 0.5rem 1.5rem;
    height: 64px;
}

.leftContent {
    display: flex;
    gap: 1rem;
}

.projectLogo {
    height: 32px;
    width: auto;
}

.textGroup {
    display: flex;
    gap: 1rem;
    align-items: center;

    color: var(--grey-800);
}

.dot,
.categoryText {
    text-decoration: none;
}

.arrowButton {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: var(--max);
    background-image: var(--black-button);
    height: 56px;
    width: 72px;

    transition: all 0.5s ease;
}

.arrowIcon {
    padding: 1rem;
    height: 24px;
    width: auto;
}

.infoBar:hover .arrowIcon {
    filter: brightness(100) saturate(100%)
}

.container:hover .arrowButton {
    width: 96px;
}