:root {
  /* Semantic */
  --background-color: rgba(245, 245, 247, 1);
  --white: rgba(250, 250, 250, 1);
  --black-400: rgba(26, 26, 26, 1);
  --black-500: rgba(0, 0, 0, 1);

  /* Grey */
  --grey-100: rgba(239, 240, 244, 1);
  --grey-200: rgba(233, 233, 233, 1);
  --grey-300: rgba(208, 214, 218, 1);
  --grey-500: rgba(188, 188, 188, 1);
  --grey-600: rgba(151, 151, 151, 1);
  --grey-700: rgba(135, 135, 135, 1);
  --grey-800: rgba(107, 107, 107, 1);

  /* Shadow */
  --shadow-10: rgba(0, 0, 0, 0.1);

  /* Glass */
  --glass-bot: rgba(255, 255, 255, 0.7);
  --bg-glass: linear-gradient(to bottom, var(--grey-100), var(--glass-bot));
  --border-glass: rgba(255, 255, 255, 0.5);

  /* Blue */
  --blue-200: rgba(212, 228, 255, 1);
  --blue-400: rgba(139, 174, 255, 1);
  --blue-500: rgba(0, 94, 255, 1);

  /* Spacing only */
  --4px: 0.25rem;
  --8px: 0.5rem;
  --12px: 0.75rem;
  --16px: 1rem;
  --24px: 1.5rem;
  --32px: 2rem;
  --40px: 2.5rem;
  --48px: 3rem;
  --64px: 4rem;
  --max: 9999px;

  /* Styles */
  --hero-section: linear-gradient(to bottom,
      var(--blue-200) 0%,
      var(--background-color) 75%,
    );

  --footer: linear-gradient(to bottom,
      var(--background-color) 0%,
      var(--blue-500) 35%,
      var(--black-400) 75%,
    );

  /* Effects */
  --shadow-sm: 0px 4px 16px 0px var(--shadow-10);
  --shadow-blue-sm: 0px 0px 16px 0px var(--blue-400);
}

@font-face {
  font-family: 'Open Sans';
  src: url('./assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./assets/fonts/OpenSans-Italic-VariableFont_wdth\,wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans Condensed';
  src: url('./assets/fonts/OpenSans_Condensed-ExtraBoldItalic.ttf') format('truetype-variations');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('./assets/fonts/PlayfairDisplay-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('./assets/fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-style: italic;
}



@layer base {
  html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
  }

  body {
    background-color: var(--background-color);
    color: var(--black-400);
    font-family: "Open Sans", sans-serif;
  }


  .font-serif {
    font-family: "Playfair Display", serif;
  }
}

.navContainer {
  display: inline-block;
  padding: var(--64px);
}