/* Navbar */
.navContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: var(--24px);

    padding: 0.025rem 1rem 0.025rem 0.025rem;
    margin: 0 24px;

    min-width: 200px;

    background-image: var(--bg-glass);
    border: 2px solid var(--border-glass);
    border-radius: var(--max);

    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(8px);
    box-shadow: var(--shadow-sm);
    transition: all 0.5s ease;
}

.sticky {
    position: sticky;
    top: 1rem;
    z-index: 1000;
    width: 100%;
}

/* Left Section */
.leftSection {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.jhButton {
    display: flex;
    align-items: center;

    height: 50px;
    border: none;
    padding: 0.75rem 1.5rem;
    background-color: transparent;
    border-radius: var(--max);

    transition: all 0.3s;
}

.jhButton:hover {
    transform: scale(1.08);
    filter: brightness(0) saturate(100%) invert(23%) sepia(50%) saturate(7046%) hue-rotate(216deg) brightness(103%) contrast(106%);
}

.links {
    display: flex;
    font-size: 0.875rem;
    padding: 0.5rem;
    color: var(--black-400);
    text-decoration: none;
}

.links:hover {
    color: var(--blue-500);
}

/* Feed Button */

.feedButton {
    text-decoration: none;

    display: flex;
    align-items: center;
    gap: var(--12px);

    height: 50px;
    border: none;
    padding: 0rem 1.5rem;
    background-color: var(--black-400);
    border-radius: var(--max);
    transition: all 0.3s;
}

.feedButton:hover {
    background-color: var(--blue-500);
    box-shadow: var(--shadow-blue-sm);
}

.linkLabel {
    display: inline;
    font-size: 0.875rem;
    color: var(--white);
    font-family: "Open Sans", sans-serif;
}

/* Hamburger Menu Button */
.menuButton {
    display: none;
    align-items: center;
    gap: var(--12px);

    height: 50px;
    border: none;
    padding: 0rem 1.5rem;
    background-color: var(--black-400);
    border-radius: var(--max);
}

/* Menu Overlay */
.menuOverlay {
    display: none;
    flex-direction: column;
    gap: 1rem;

    position: absolute;
    top: 100%;
    left: 8px;
    right: 8px;


    margin-top: 10px;
    padding: 1.5rem;

    background-image: var(--bg-glass);
    backdrop-filter: blur(3px);

    border: 2px solid var(--border-glass);
    border-radius: 20px;

    box-shadow: var(--shadow-sm);
    z-index: 999;
}

.showMenu {
    display: flex;
}

.mobileFeedsLink {
    display: inline;
    font-size: 0.875rem;
    color: var(--black-400);
    text-decoration: none;
}

@media (max-width: 640px) {
    .navContainer {
        margin: 0px 4px;
    }

    .linkLabel {
        display: none;
    }

    .links,
    .feedButton {
        display: none;
    }

    .menuButton {
        display: flex;
    }
}