/* Menu Overlay */
.menuOverlay {
    display: flex;
    flex-direction: column;

    opacity: 0;
    visibility: hidden;

    transform: translateY(-20px) scale(0.95);

    gap: 2.5rem;
    justify-content: center;
    position: fixed;
    top: -155px;
    left: -2px;
    right: -2px;

    margin-top: 10px;
    padding: 11rem 3.5rem 30rem 1.75rem;

    background-image: var(--bg-glass);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    border: 3px solid var(--border-glass);
    border-radius: 32px;

    transition:
        opacity 0.4s ease,
        transform 0.4s cubic-bezier(0.16, 1, 0.3, 1),
        visibility 0.4s;

    z-index: 999;
}

.showMenu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0) scale(1);
}

/* navlink animation */
.showMenu .mobileNavLink,
.showMenu.socialDiv,
.showMenu.lastUpdated {
    opacity: 1;
    transform: translateY(0);
}

.showMenu .mobileNavLink:nth-child(1) {
    transition-delay: 0.12s;
}

.showMenu .mobileNavLink:nth-child(2) {
    transition-delay: 0.23s;
}

.showMenu .mobileNavLink:nth-child(3) {
    transition-delay: 0.34s;
}

.showMenu .mobileNavLink:nth-child(4) {
    transition-delay: 0.45s;
}

.showMenu .mobileNavLink:nth-child(5) {
    transition-delay: 0.56s;
}

.showMenu .socials:nth-child(2) {
    opacity: 1;
    transform: scale(1);
    transition-delay: 0.67s;
}

.showMenu .socials:nth-child(1) {
    opacity: 1;
    transform: scale(1);
    transition-delay: 0.78s;
}

.showMenu .lastUpdated {
    opacity: 1;
    transition-delay: 0.89s;
}

/* navLinks */
.mobileNavLink {
    display: inline;
    text-align: right;

    font-size: 1.5rem;
    font-weight: 600;

    color: var(--grey-800);
    text-decoration: none;

    opacity: 0;
    transform: translateX(-10px);
    transition: opacity 0.3s ease;
}

.mobileNavLink:hover,
.socials:hover {
    color: var(--black-400);
    transform: scale(1.07);
}

.closeButton {
    font-family: 'Open Sans';
    font-size: 1rem;
    font-weight: 500;
    text-align: right;

    background-color: transparent;
    color: var(--grey-600);

    border: none;
    border-radius: var(--max);
    height: 50px;
    margin-bottom: 2rem;

    cursor: pointer;
    transition: all 0.3s;
}

.closeButton:hover {
    color: var(--black-400);
}

/* Socials */

.socialDiv {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem;

    align-items: center;
    justify-content: right;
}

.socials {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    opacity: 0;
    transform: scale(0.9);
    transition: all 0.3s ease;
}

.socialIcon {
    filter: brightness(0) saturate(100%) invert(24%) sepia(2%) saturate(15%) hue-rotate(323deg) brightness(90%) contrast(86%);
}

.socialIcon:hover {
    transform: scale(1.1);
    filter: none;
}

.lastUpdated {
    display: flex;
    justify-content: right;
    font-size: 0.75rem;
    color: var(--grey-800);
    text-align: right;

    opacity: 0;
    transition: all 0.9s ease;
}