/* Navbar */
.navContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: var(--24px);
    position: relative;

    padding: 0.025rem 1rem 0.025rem 0.025rem;
    margin: 0 24px;

    min-width: 200px;

    background-image: var(--bg-glass);
    border: 2px solid var(--border-glass);
    border-radius: var(--max);

    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(8px);
    box-shadow: var(--shadow-sm);
    transition: all 0.5s ease;
}

.sticky {
    position: sticky;
    top: 1rem;
    z-index: 1000;
    width: 100%;
}

/* Left Section */
.leftSection {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.jhButton {
    display: flex;
    align-items: center;

    height: 50px;
    border: none;
    padding: 0.75rem 1.5rem;
    background-color: transparent;
    border-radius: var(--max);

    transition: all 0.3s;
}

.jhButton:hover {
    transform: scale(1.08);
    filter: brightness(0) saturate(100%) invert(23%) sepia(50%) saturate(7046%) hue-rotate(216deg) brightness(103%) contrast(106%);
}

.links {
    display: flex;
    padding: 0.5rem;

    font-size: 0.875rem;
    font-weight: 500;

    color: var(--grey-800);
    text-decoration: none;
}

.links:hover {
    color: var(--black-400);
}

/* Feed Button */

.feedButton {
    text-decoration: none;

    display: flex;
    align-items: center;
    gap: var(--12px);

    height: 50px;
    border: none;
    padding: 0rem 1.5rem;
    background-color: var(--black-400);
    border-radius: var(--max);
    transition: all 0.3s;
}

.feedButton:hover {
    background-color: var(--blue-500);
    box-shadow: var(--shadow-blue-sm);
}

.linkLabel {
    display: inline;
    font-size: 0.875rem;
    color: var(--white);
    font-family: "Open Sans", sans-serif;
}

/* Hamburger Menu Button */
.menuButton {
    display: none;
    align-items: center;
    gap: var(--12px);

    height: 50px;
    border: none;
    padding: 0rem 1.5rem;

    background-color: var(--black-400);
    border-radius: var(--max);

    transition: all 0.3s;
}

.menuButton:hover {
    background-color: var(--blue-500);
    box-shadow: var(--shadow-blue-sm);
}

/* Menu Overlay */
.menuOverlay {
    display: flex;
    flex-direction: column;

    opacity: 0;
    visibility: hidden;

    transform: translateY(-20px) scale(0.95);

    gap: 2.5rem;
    justify-content: center;
    position: fixed;
    top: -145px;
    left: -2px;
    right: -2px;

    margin-top: 10px;
    padding: 11rem 1.5rem 3.5rem 1.5rem;

    background-image: var(--bg-glass);
    backdrop-filter: blur(8px);

    border: 3px solid var(--border-glass);
    border-radius: 32px;

    transition:
        opacity 0.4s ease,
        transform 0.4s cubic-bezier(0.16, 1, 0.3, 1),
        visibility 0.4s;

    z-index: 999;
}

.showMenu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0) scale(1);
}

/* navlink animation */
.showMenu .mobileNavLink {
    opacity: 1;
    transform: translateX(0);
}

.showMenu .mobileNavLink:nth-child(1) {
    transition-delay: 0.12s;
}

.showMenu .mobileNavLink:nth-child(2) {
    transition-delay: 0.23s;
}

.showMenu .mobileNavLink:nth-child(3) {
    transition-delay: 0.34s;
}

.showMenu .mobileNavLink:nth-child(4) {
    transition-delay: 0.45s;
}

.showMenu .mobileNavLink:nth-child(5) {
    transition-delay: 0.56s;
}

/* navLinks */
.mobileNavLink {
    display: inline;
    text-align: center;

    font-size: 1.5rem;
    font-weight: 600;

    color: var(--grey-800);
    text-decoration: none;

    opacity: 0;
    transform: translateX(-10px);
    transition: opacity 0.3s ease;
}

.mobileNavLink:hover {
    color: var(--black-400);
    transform: scale(1.07);
}

.closeButton {
    font-family: 'Open Sans';
    font-size: 1rem;
    font-weight: 500;

    background-color: transparent;
    color: var(--grey-600);

    border: none;
    border-radius: var(--max);
    height: 50px;
    margin-bottom: 2rem;

    cursor: pointer;
    transition: all 0.3s;
}

.closeButton:hover {
    color: var(--black-400);
}

/* Media queries */
@media (max-width: 580px) {
    .navContainer {
        margin: 0px 4px;
    }

    .linkLabel {
        display: none;
    }

    .links,
    .feedButton {
        display: none;
    }

    .menuButton {
        display: flex;
    }
}