/* Navbar */
.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    flex: auto;
}

.navContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: var(--24px);
    position: relative;

    padding: 0.025rem 1rem 0.025rem 0.025rem;
    margin: 0 16px 2rem 16px;

    flex: 1;
    width: 100%;
    min-width: 200px;
    max-width: 1400px;

    background-image: var(--bg-glass);
    border: 2px solid var(--border-glass);
    border-radius: var(--max);

    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow: var(--shadow-sm);
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    width: 100%;

    top: 1rem;
    z-index: 1000;

    transition: transform 0.4s cubic-bezier(0.16, 1, 0.3, 1);
}


/* Left Section */
.leftSection {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.jhButton {
    display: flex;
    align-items: center;

    height: 50px;
    border: none;
    padding: 0.75rem 1.5rem;
    background-color: transparent;
    border-radius: var(--max);

    transition: all 0.3s;
}

.jhButton:hover {
    /* transform: scale(1.08); */
    filter: brightness(0) saturate(100%) invert(23%) sepia(50%) saturate(7046%) hue-rotate(216deg) brightness(103%) contrast(106%);
}

.links {
    display: flex;
    padding: 0.5rem;

    font-size: 0.875rem;
    font-weight: 500;

    color: var(--grey-800);
    text-decoration: none;
}

.links:hover {
    color: var(--black-400);
    font-weight: 600;
}

/* Feed Button */
.feedButtonMother {
    text-decoration: none;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 90px;
    height: 50px;

    border: none;
    padding: 0rem 1.5rem;
    background-color: var(--black-400);
    border-radius: var(--max);
    cursor: pointer;

    transition: all 0.3s;
}

.feedButtonMother:hover {
    background-color: var(--blue-500);
    box-shadow: var(--shadow-blue-sm);
}

.linkLabel,
.linkLabel2 {
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    color: var(--white);
    font-family: "Open Sans", sans-serif;
}

.feedIcon {
    margin-right: 0.5rem;
}


/* Hamburger Menu Button */
.menuButton {
    display: none;
    align-items: center;

    height: 50px;
    border: none;
    padding: 0rem 1.5rem;

    background-color: var(--black-400);
    border-radius: var(--max);

    cursor: pointer;
    transition: all 0.3s;
}

.menuButton:hover {
    background-color: var(--blue-500);
    box-shadow: var(--shadow-blue-sm);
}

/* Media queries */
@media (min-width: 425px) {
    .navContainer {
        margin: 0 2rem 2rem 2rem;
    }
}


@media (max-width: 700px) {
    .linkLabel {
        display: none;
    }

    .links,
    .feedButtonMother {
        display: none;
    }

    .menuButton {
        display: flex;
    }
}

@media (min-width: 768px) {
    .navContainer {
        margin: 0 4rem 4rem 4rem;
    }
}


/* From Uiverse.io by KINGFRESS */
/* Feed Button Animation */
.feedButtonMother .linkLabel {
    display: flex;
    overflow: hidden;
}

.feedButtonMother:hover .linkLabel {
    position: absolute;
}

.feedButtonMother:hover .linkLabel img,
.feedButtonMother:hover .linkLabel span {
    transform: translateY(2em);
}

.feedButtonMother:hover .linkLabel2 img,
.feedButtonMother:hover .linkLabel2 span {
    transform: translateY(0);
}

.feedButtonMother .linkLabel img {
    transition: 0.4s;
}

.feedButtonMother .linkLabel span:nth-child(2) {
    transition: 0.3s;
}

.feedButtonMother .linkLabel span:nth-child(3) {
    transition: 0.4s;
}

.feedButtonMother .linkLabel span:nth-child(4) {
    transition: 0.5s;
}

.feedButtonMother .linkLabel span:nth-child(5) {
    transition: 0.6s;
}

.feedButtonMother .linkLabel span:nth-child(6) {
    transition: 0.7s;
}

.feedButtonMother .linkLabel2 {
    display: flex;
    position: absolute;
    overflow: hidden;
}

.feedButtonMother .linkLabel2 span,
.feedButtonMother .linkLabel2 img {
    transform: translateY(-1.2em);
}

.feedButtonMother:hover .linkLabel2 span,
.feedButtonMother:hover.linkLabel2 img {
    transform: translateY(0);
}

.feedButtonMother .linkLabel2 img {
    transition: 0.4s;
}

.feedButtonMother .linkLabel2 span:nth-child(2) {
    transition: 0.3s;
}

.feedButtonMother .linkLabel2 span:nth-child(3) {
    transition: 0.4s;
}

.feedButtonMother .linkLabel2 span:nth-child(4) {
    transition: 0.5s;
}

.feedButtonMother .linkLabel2 span:nth-child(5) {
    transition: 0.6s;
}

.feedButtonMother .linkLabel2 span:nth-child(6) {
    transition: 0.7s;
}